<%- include('./layout/head') %>
<%- include('./layout/navbar') %>
   <div class="section no-pad-bot" id="index-banner">
       <div class="container">
           <br><br>
           <div class="row center">
               <h2 class="header center">Database BlackList</h2>
                <div class="col s8 offset-s2 card-panel">
                   <br>
                   <div class="col s12">
                       <span> <%= cpf %> - O CPF atualmente não se encontra na BlackList</span><br>
                       <p><span class="z-depth-3 white-text green padding-5"> FREE </span></p>
                       <div class="col s6 right-align">
                           <form action="/create" method="post" id="add">
                                <input type="hidden" name="cpf" value="<%= cpf %>">
                                <input type="submit" value="ADICIONAR" id="adicionar" class="btn blue">
                           </form>
                       </div>
                       <div class="col s6 left-align">
                           <a href="/" class="btn blue">VOLTAR</a>
                       </div>
                       <br><br>
                   </div>
                </div>
           </div>
           <br><br><br><br><br><br><br>
       </div>
   </div>
<%- include('./layout/footer') %>